<script type="text/ejs">
    <div class="task jsTask">
        <div class="cell check"><input type="checkbox" class="jsCheckDone" /></div>
        <div class="cell title jsTitle" contenteditable></div>
        <div class="cell created"></div>
    </div>
</script>